In [1]:
import pandas as pd
import numpy as np

In [154]:
df = pd.read_csv('/content/2020년 노인실태조사_ver2.0(최종공개용).csv')
# df = df[['RES_SEX','E1_1','RES_EDU1','B1','H16_2']] # 성별 직업지위  교육수준 건강수준  소득수준
df.head()

,PID,HNO,AREA,EDM,ANS_TYPE,ANS_SUB1,ANS_SUB2,ANS_SUB3,S9_0,S9_2,...,RES_YY,RES_MM,RES_AGE,RES_MAR,RES_EDU1,RES_EDU2,RES_YN,RES_SUB,f_wgt1,s_wgt1
0,7501,1,35,2,0,99,999,1,0,99,...,1952,10,67,1,4,9,1,9,393.325736,0.512734
1,7601,1,35,2,0,99,999,1,0,99,...,1951,12,68,3,2,0,1,9,393.325736,0.512734
2,7802,2,23,1,0,99,999,1,1,1,...,1954,3,66,2,5,12,1,9,587.163656,0.765418
3,7801,1,23,1,0,99,999,1,0,99,...,1954,1,66,2,5,12,1,9,640.643430,0.835133
4,8001,1,35,1,0,99,999,1,0,99,...,1951,12,68,3,3,6,1,9,493.769927,0.643671

In [155]:
df['RES_SEX'].value_counts()
# 1 남자 2 여자

2    6062
1    4035
Name: RES_SEX, dtype: int64

In [156]:
df['Gender'] = np.where(df['RES_SEX'] == 1, '남자','여자')

In [157]:
df['E1_1'].value_counts() # 직업

999    6312
94     1059
61      576
99      477
44      279
15      164
95      142
52      138
43       91
14       90
42       73
93       67
87       53
24       52
91       43
77       40
75       35
92       33
72       29
79       29
71       28
13       20
76       19
51       19
12       18
39       17
74       16
85       14
53       13
41       13
11       12
32       12
62       11
25       11
82       10
86       10
31       10
73        9
63        8
100       8
81        6
28        6
88        6
89        5
22        5
84        2
26        2
23        2
27        1
33        1
78        1
Name: E1_1, dtype: int64

In [147]:
df['E1'].value_counts() # 2 은퇴

2    4908
1    3785
3    1404
Name: E1, dtype: int64

In [ ]:
# E1_3 3,4번 자영업 6번 무급

In [159]:
df['Job'] = np.where(df['E1_1'].isin([11,12,13,14,15,21,22,23,24,25,26,27,28]),'임금_고숙련',
                     np.where(df['E1_1'].isin([31,32,33,39,61,62,63,72,73,74,75,76,77,78,79,81,82,83,84,85,86,87,88,89,100]),'임금_중숙련',
                              np.where(df['E1_1'].isin([41,42,43,44,51,52,53,91,92,93,94,95,99]),'임금_저숙련',
                                       np.where(df['E1_3'].isin([3,4]),'자영업',
                                                np.where(df['E1_3']==6 ,'무급가족종사자',
                                                         np.where(df['E1']==2, '은퇴',
                                                                  np.where(df['E1_1']==999,'비경활',np.nan)))))))

In [162]:
df.Job.value_counts().isna().sum()

0

In [163]:
df['RES_EDU1'].value_counts()
# 1 무학(글자모름) 2 무학(글자해독) 3초등학교 4 중학교 5 고등학교 6 대학(4년미만) 7 대학이상

3    3377
5    2668
4    2369
2     830
1     341
7     309
6     203
Name: RES_EDU1, dtype: int64

In [164]:
df['Edu'] = np.where(df['RES_EDU1'] >= 6 , '대학교 이상',
                    np.where(df['RES_EDU1']== 5, '고등',
                              np.where(df['RES_EDU1']== 4, '중등','초등'
                    )))

In [165]:
df.Edu.value_counts()

초등        4548
고등        2668
중등        2369
대학교 이상     512
Name: Edu, dtype: int64

In [166]:
df['B1'].value_counts()
# 1 매우 건강하다 2 건강한 편이다 3 그저 그렇다 4 건강이 나쁜 편이다 5 건강이 매우 나쁘다 9 비해당

2    4507
3    3120
4    1659
1     433
5     201
9     177
Name: B1, dtype: int64

In [167]:
df['Health'] = np.where(df['B1']<=3, '전혀 지장없음','활동에 제한 있음'
                        )

In [168]:
# G026; 자신의 건강상태, G027; 자신의 경제상태, G028; 배우자와의 관계, G029; 자녀와의 관계, G030; 전반적인 삶의 질
df['Self_conf_Score'] = df['H16_1'] + df['H16_2']+ df['H16_3'] + df['H16_4'] + df['H16_7']

In [169]:
df['H16_1'].replace(9,0, inplace=True)
df['H16_2'].replace(9,0, inplace=True)
df['H16_3'].replace(9,0, inplace=True)
df['H16_4'].replace(9,0, inplace=True)
df['H16_7'].replace(9,0, inplace=True)

In [170]:
df['Self_conf'] = np.where(df['Self_conf_Score']<9, '상',
                           np.where(df['Self_conf_Score']<16, '중','하'))

In [171]:
df['Self_conf'].value_counts()

하    4765
중    4634
상     698
Name: Self_conf, dtype: int64

In [173]:
df['J3b_1_13'].replace(999998,0) # 소득
df['J3b_1_13'].replace(999999,0)

0        1789
1        1389
2        2180
3        3100
4         719
         ...
10092     550
10093     500
10094    1320
10095     300
10096    2850
Name: J3b_1_13, Length: 10097, dtype: int64

In [174]:
df['J3b_1_13'].describe()

count    10097.000000
mean      1489.300683
std       2326.339146
min          0.000000
25%        500.000000
50%        885.000000
75%       1900.000000
max      59800.000000
Name: J3b_1_13, dtype: float64

In [176]:
df['Earn'] = np.where(df['J3b_1_13'] > df['J3b_1_13'].describe()['75%'], '상',
                            np.where(df['J3b_1_13'] < df['J3b_1_13'].describe()['25%'], '하', '중'))

In [177]:
df = df[['Gender','Job','Edu','Health','Earn','Self_conf']]

In [178]:
df.head()

  Gender     Job Edu   Health Earn Self_conf
0     여자  임금_저숙련  중등  전혀 지장없음    중         하
1     여자  임금_중숙련  초등  전혀 지장없음    중         하
2     여자  임금_고숙련  고등  전혀 지장없음    상         중
3     남자  임금_중숙련  고등  전혀 지장없음    상         중
4     여자  임금_저숙련  초등  전혀 지장없음    중         하

In [179]:
df.shape

(10097, 6)